## Basics
pytest
Pygments

## Hypothesis
hypothesis

## Mocking
pytest-mock
pytest-recording
pytest-httpserver
requests
responses

## Writing plugins / plugin tour
cookiecutter
pytest-cov
pytest-instafail
pytest-rich
pytest-xdist
pytest-asyncio
PyYAML

## tox / devpi optional chapters
Sphinx
tox
# devpi-client

## Live-demos with Jupyter notebooks
# ipytest
# jupyterlab
