## Basics
pytest
Pygments

## Hypothesis
hypothesis

## Mocking
pytest-mock
pytest-recording
pytest-httpserver
requests
responses

## Plugin tour
pytest-cov
pytest-instafail
pytest-md
pytest-reportlog
pytest-xdist
pytest-asyncio
# Problematic for various reasons:
# - Doesn't install correctly in PyCharm for some people (?)
# - Needs pylib, which results in a deprecation warning
# - Pulls in pytest-metadata, which is a bit verbose in its pytest_report_header
#   output
# pytest-html
# Loads automatically and thus interferes with output
# pytest-modern

# Writing plugins
cookiecutter
PyYAML

## tox / devpi optional chapters
# Sphinx
# tox
# devpi-client

## Live-demos with Jupyter notebooks
ipykernel  # allows participants to view notebooks in VS Code
# ipytest
# jupyterlab
