interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.exchangeit.app/v1/currencies/eur/latest?for=chf
  response:
    body:
      string: '{"copyright":{"title":"Thank you for choosing Exchange It API","description":"We''re
        excited to see the incredible things you''ll achieve with it. If you have
        any questions or need support, our team is here to help.","url":"https://exchangeit.app","email":"hello@exchangeit.app"},"data":{"alias":"eur","title":"Euro","rates":[{"alias":"chf","rate":0.9771274994,"date":"2024-05-09T23:59:59.000Z","fluctuation":0.0009838531}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-5bjLyp+Adq71WOtkIUH/xusZt48"
    status:
      code: 200
      message: OK
version: 1
