interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.exchangeit.app/v2/currencies/eur/latest?for=chf
  response:
    body:
      string: '{"copyright":{"title":"Thank you for choosing Exchange It API","description":"We''re
        excited to see the incredible things you''ll achieve with it. If you have
        any questions or need support, our team is here to help.","url":"https://exchangeit.app","email":"hello@exchangeit.app"},"data":{"alias":"eur","code":"eur","title":"Euro","rates":[{"alias":"chf","rate":0.9587439179,"code":"chf","date":"2025-03-18T23:59:59.000Z","fluctuation":0.0199734549}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c1-5ld9R/xTIUS2nAMa9h85BDwHi6I"
    status:
      code: 200
      message: OK
version: 1
