interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.exchangeit.app/rates/latest?codes=EUR
  response:
    body:
      string: '{"copyright":{"title":"Thank you for choosing Exchange It API","description":"We''re
        excited to see the incredible things you''ll achieve with it. If you have
        any questions or need support, our team is here to help.","url":"https://exchangeit.app","email":"hello@exchangeit.app"},"meta":{"total":1,"page":0},"data":[{"code":"eur","title":"Euro","rates":[{"code":"$myro","rate":11.10732619,"date":"2024-02-18","fluctuation":-0.783774},{"code":"$wen","rate":10613.74142508,"date":"2024-02-18","fluctuation":950.164734},{"code":"00","rate":14.92742382,"date":"2024-02-18","fluctuation":-0.480153},{"code":"1000sats","rate":2059.46121091,"date":"2024-02-18","fluctuation":-9.832078},{"code":"1inch","rate":2.46287961,"date":"2024-02-18","fluctuation":0.054119},{"code":"aave","rate":0.011615267,"date":"2024-02-18","fluctuation":0.000076},{"code":"abt","rate":0.99497784,"date":"2024-02-18","fluctuation":0.077696},{"code":"ach[...]
